.animal-buttons button {
  margin: .5% 1%;
}
@media (max-width: 768px) {
  .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
  }
  .navbar-brand {
    float: none;
  }
}
