// Variables
@background : #eaeaea;
@light: #f0f0f0;
@dark: #4d4d4d;
@white: #ffffff;
@red: #ff4178;
@green: #00c6b3;
@yellow: #ffd032;
@blue: #419bff;
@header-text-color: #ffffff;
@button-text-color: #ffffff;

body {
    background-color: @background;
}

.brand-styling {
    color: @blue;
    font-size: 30px;
    font-weight: bold;
}

img:hover {
    cursor: pointer;
}



.card-header {
    background-color: @green;
    color: @header-text-color;
}

.animal-btn,  {
    background-color: @blue;
    color: @button-text-color;
}



.add-animal {
    background-color: @yellow;
    color: @dark;
}

.card {
    border:0px;
}

// .img-card-container {
//     background-color: @background;
//     border:0px;
// }

.img-cards {
    background-color: @light;
    color: @dark;
    border:0px;
}



@media (max-width: 768px){
    .navbar-header {
        float: left;
        padding: 15px;
        text-align: center;
        width: 100%;
    }
    .navbar-brand {float:none;}
}